<div class="container" *ngIf="state">
  <div class="entities">

    <div class="player">
      <p>Player</p>
      <p>hp: {{state.player.hp}}</p>
      <p>shield: {{state.player.shield}}</p>
      <p *ngIf="state.player.skipsTurn">Skip's turn</p>

    </div>
    <div class="monster">
      <p>Monster</p>
      <p>hp: {{state.monster.hp}}</p>
      <p>shield: {{state.monster.shield}}</p>

    </div>
  </div>

  <div class="turns">
    <p>Turns Left: {{state.turns}} / 12</p>
    <button class="btn" (click)="endTurn()">End Turn</button>
  </div>
  <div class="played">
    <div class="playedCard" >
      <p>Monster used: Effect: {{state.monster.played.effect}} Card Power: {{state.monster.played.effectAmount ? state.monster.played.effectAmount : '-'}}</p>
    </div>
    <div class="playedCard" >
      <p>Player used: Effect: {{state.player.played.effect}} Card Power: {{state.player.played.effectAmount ? state.player.played.effectAmount : '-'}}</p>
    </div>
  </div>
  <div class="cards" *ngFor="let card of cards;let i=index">
    <div class="card" (click)="selectedCard = card.id">
        <p>Effect: {{card.effect}}</p>
        <p *ngIf="card.effectAmount">Card power: {{card.effectAmount}}</p>
    </div>
  </div>

</div>

  <div class="end-game" *ngIf="state && state.finished">
    <div class="end-game-popup">
      <p>Game Over!</p>
      <p>{{state.result}}</p>
      <button routerLink="/">New Game</button>
    </div>
  </div>
